:root {
    --assassin--color: #d83833;
    --fighter--color: #d3882c;
    --mage--color: #565fda;
    --marksman--color: #52a73b;
    --support--color: #309c8c;
    --tank--color: #061ea5;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('./assets/wallpaper-lol.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.App {
    min-height: 100vh;
}

.link-pointer {
    cursor: pointer;
}

.link-button {
    border: 0;
    width: 100px;
    color: white !important;
    text-decoration: none !important;
}

.link-button:hover {
    color: white;
    font-weight: bold;
}

.bg-assassin {
    background-color: var(--assassin--color);
}

.bg-fighter {
    background-color: var(--fighter--color);
}

.bg-mage {
    background-color: var(--mage--color);
}

.bg-marksman {
    background-color: var(--marksman--color);
}

.bg-support {
    background-color: var(--support--color);
}

.bg-tank {
    background-color: var(--tank--color);
}

.title-favorites {
    text-shadow: 0 0 1.5px #fff;
}

.zoom {
    transition: transform .2s;
}

.zoom:hover {
    transform: scale(1.1);
}