:root {
    --assassin--color: #591311;
    --fighter--color: #89591d;
    --mage--color: #4d58f2;
    --marksman--color: #3a4f34;
    --support--color: #335c56;
    --tank--color: #2b335e;
}


.App {
    min-height: 100vh;
}

.link-pointer {
    cursor: pointer;
}

.link-button {
    border: 0;
    width: 100px;
    color: white !important;
    text-decoration: none !important;
}

.link-button:hover {
    color: white;
    font-weight: bold;
}

.bg-assassin {
    background-color: var(--assassin--color);
}

.bg-fighter {
    background-color: var(--fighter--color);
}

.bg-mage {
    background-color: var(--mage--color);
}

.bg-marksman {
    background-color: var(--marksman--color);
}

.bg-support {
    background-color: var(--support--color);
}

.bg-tank {
    background-color: var(--tank--color);
}